@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
 
}
.upper{
  background-color:white;
  height:150px;
  max-width:1200px;
  padding:0 2rem;
  margin:0 auto;
  border-radius:20px;


}

.location{
margin-top:22px;
background-color:whitesmoke;
height:30px;
width:300px;
margin-left:20px;
padding:14px;
border-radius:5px;

}
.location:hover{

  box-shadow: 1px 3px 3px 2px rgb(180, 179, 179);
}
.docterhospital{
  margin-top:22px;
  background-color:whitesmoke;
  height:30px;
  width:600px;
  margin-left:20px;
  padding:14px; 
  border-radius:5px;

}

.docterhospital:hover{

  box-shadow: 1px 3px 3px 2px rgb(180, 179, 179);
}

.searchbtn{
  height:35px;
  width:130px;
  background-color:rgb(41, 179, 243);
  margin-left:20px;
color:white;
margin-top:22px;
border-radius:4px;
}
.searchbtn:hover{
  height:36px;
  width:134px;

}

.container{

  max-width:900px;
  padding:0 2rem;
  margin:0 auto;
  
}

.cardbox{
  background-color:white;
  display:flex;
border-radius: 20px;
 margin-top:25px;
 box-shadow:10px rgb(155, 88, 88);

}

.cardbox:hover{
 box-shadow: 4px 4px 5px 5px rgb(177, 185, 191);
}

.fleet--clip{
  margin-top:10px;
  margin-left:10px;
border-radius:60%;
height:150px;
width:150px;
border:4px solid rgb(65, 185, 240) ;

}

.drname{
  font-size: 25px;
  color:rgb(65, 185, 240);
margin-top:12px;



}
.drname:hover{
  color:rgb(25, 154, 213);
}

.commanbox{
  margin-left:24px;
}

.h1{
  font-size: 20px;
  margin-top:8px
}
.btn{
  color:white;
  background-color:rgb(41, 179, 243) ;
  height:30px;
  width:240px;
  margin-left:-45px;
  border-radius: 5px;
  margin-top:5px;
}

.bookingbox{
  margin-left:170px;

}